@font-face {
    font-family: 'Fleurdesel-Hotel';
    src: url('Fleurdesel-Hotel.eot?3apedd');
    src: url('Fleurdesel-Hotel.eot?3apedd#iefix') format('embedded-opentype'), url('Fleurdesel-Hotel.ttf?3apedd') format('truetype'), url('Fleurdesel-Hotel.woff?3apedd') format('woff'), url('Fleurdesel-Hotel.svg?3apedd#Fleurdesel-Hotel') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fh {
    /* use !important to prevent issues with browser extensions that change fonts */
    display: inline-block;
    font-family: 'Fleurdesel-Hotel' !important;
    speak: none;
    text-rendering: auto;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fh-champagne:before {
    content: "\e900";
}

.fh-chat:before {
    content: "\e901";
}

.fh-chat-1:before {
    content: "\e902";
}

.fh-church:before {
    content: "\e903";
}

.fh-compact-disc:before {
    content: "\e904";
}

.fh-cupcake:before {
    content: "\e905";
}

.fh-cupid:before {
    content: "\e906";
}

.fh-diamond:before {
    content: "\e907";
}

.fh-doorknob:before {
    content: "\e908";
}

.fh-earrings:before {
    content: "\e909";
}

.fh-engagement-ring:before {
    content: "\e90a";
}

.fh-engagement-ring-1:before {
    content: "\e90b";
}

.fh-engagement-ring-2:before {
    content: "\e90c";
}

.fh-female:before {
    content: "\e90d";
}

.fh-film:before {
    content: "\e90e";
}

.fh-gift:before {
    content: "\e90f";
}

.fh-heart:before {
    content: "\e910";
}

.fh-heart-1:before {
    content: "\e911";
}

.fh-hearts:before {
    content: "\e912";
}

.fh-hot-drink:before {
    content: "\e913";
}

.fh-house:before {
    content: "\e914";
}

.fh-key:before {
    content: "\e915";
}

.fh-list:before {
    content: "\e916";
}

.fh-love-letter:before {
    content: "\e917";
}

.fh-love-letter-1:before {
    content: "\e918";
}

.fh-love-letter-2:before {
    content: "\e919";
}

.fh-male:before {
    content: "\e91a";
}

.fh-padlock:before {
    content: "\e91b";
}

.fh-padlock-1:before {
    content: "\e91c";
}

.fh-picture:before {
    content: "\e91d";
}

.fh-placeholder:before {
    content: "\e91e";
}

.fh-romantic-music:before {
    content: "\e91f";
}

.fh-shopping-bag2:before {
    content: "\e920";
}

.fh-suitcase:before {
    content: "\e921";
}

.fh-video-camera:before {
    content: "\e922";
}

.fh-wedding-cake:before {
    content: "\e923";
}

.fh-wedding-invitation:before {
    content: "\e924";
}

.fh-wedding-invitation-1:before {
    content: "\e925";
}

.fh-wedding-rings:before {
    content: "\e926";
}

.fh-balloons:before {
    content: "\e927";
}

.fh-balloons-1:before {
    content: "\e928";
}

.fh-bed2:before {
    content: "\e929";
}

.fh-bell2:before {
    content: "\e92a";
}

.fh-bible:before {
    content: "\e92b";
}

.fh-bow:before {
    content: "\e92c";
}

.fh-cake:before {
    content: "\e92d";
}

.fh-calendar:before {
    content: "\e92e";
}

.fh-camera:before {
    content: "\e92f";
}

.fh-candles:before {
    content: "\e930";
}

.fh-candles-1:before {
    content: "\e931";
}

.fh-icicle:before {
    content: "\e932";
}

.fh-moon:before {
    content: "\e933";
}

.fh-moon-1:before {
    content: "\e934";
}

.fh-moon-2:before {
    content: "\e935";
}

.fh-moon-3:before {
    content: "\e936";
}

.fh-moon-4:before {
    content: "\e937";
}

.fh-moon-5:before {
    content: "\e938";
}

.fh-moon-6:before {
    content: "\e939";
}

.fh-moon-7:before {
    content: "\e93a";
}

.fh-moon-8:before {
    content: "\e93b";
}

.fh-moon-9:before {
    content: "\e93c";
}

.fh-moon-10:before {
    content: "\e93d";
}

.fh-moon-11:before {
    content: "\e93e";
}

.fh-moon-12:before {
    content: "\e93f";
}

.fh-moon-13:before {
    content: "\e940";
}

.fh-morning-rain:before {
    content: "\e941";
}

.fh-morning-snow:before {
    content: "\e942";
}

.fh-night-rain:before {
    content: "\e943";
}

.fh-night-snow:before {
    content: "\e944";
}

.fh-rainbow:before {
    content: "\e945";
}

.fh-rainbow-1:before {
    content: "\e946";
}

.fh-rainbow-2:before {
    content: "\e947";
}

.fh-raindrops:before {
    content: "\e948";
}

.fh-raining:before {
    content: "\e949";
}

.fh-rainy:before {
    content: "\e94a";
}

.fh-snow:before {
    content: "\e94b";
}

.fh-snowflake:before {
    content: "\e94c";
}

.fh-snowing:before {
    content: "\e94d";
}

.fh-snowing-1:before {
    content: "\e94e";
}

.fh-snowy:before {
    content: "\e94f";
}

.fh-stars:before {
    content: "\e950";
}

.fh-stars-1:before {
    content: "\e951";
}

.fh-stars-2:before {
    content: "\e952";
}

.fh-storm:before {
    content: "\e953";
}

.fh-storm-1:before {
    content: "\e954";
}

.fh-storm-2:before {
    content: "\e955";
}

.fh-summer-rain:before {
    content: "\e956";
}

.fh-sunny:before {
    content: "\e957";
}

.fh-sunrise:before {
    content: "\e958";
}

.fh-sunset:before {
    content: "\e959";
}

.fh-sunset-1:before {
    content: "\e95a";
}

.fh-sunset-2:before {
    content: "\e95b";
}

.fh-temperature:before {
    content: "\e95c";
}

.fh-temperature-1:before {
    content: "\e95d";
}

.fh-temperature-2:before {
    content: "\e95e";
}

.fh-tide:before {
    content: "\e95f";
}

.fh-tide-1:before {
    content: "\e960";
}

.fh-tornado:before {
    content: "\e961";
}

.fh-umbrella2:before {
    content: "\e962";
}

.fh-umbrella-1:before {
    content: "\e963";
}

.fh-umbrellas:before {
    content: "\e964";
}

.fh-waves:before {
    content: "\e965";
}

.fh-weather:before {
    content: "\e966";
}

.fh-weather-1:before {
    content: "\e967";
}

.fh-wind:before {
    content: "\e968";
}

.fh-wind-1:before {
    content: "\e969";
}

.fh-wind-2:before {
    content: "\e96a";
}

.fh-wind-3:before {
    content: "\e96b";
}

.fh-wind-4:before {
    content: "\e96c";
}

.fh-windy:before {
    content: "\e96d";
}

.fh-bolt:before {
    content: "\e96e";
}

.fh-calm:before {
    content: "\e96f";
}

.fh-celsius:before {
    content: "\e970";
}

.fh-clouds:before {
    content: "\e971";
}

.fh-clouds-1:before {
    content: "\e972";
}

.fh-clouds-and-sun:before {
    content: "\e973";
}

.fh-cloudy-night:before {
    content: "\e974";
}

.fh-eclipse:before {
    content: "\e975";
}

.fh-farenheit:before {
    content: "\e976";
}

.fh-hail:before {
    content: "\e977";
}

.fh-relaxation:before {
    content: "\e978";
}

.fh-robe:before {
    content: "\e979";
}

.fh-sauna:before {
    content: "\e97a";
}

.fh-scent:before {
    content: "\e97b";
}

.fh-shower:before {
    content: "\e97c";
}

.fh-slippers:before {
    content: "\e97d";
}

.fh-spa:before {
    content: "\e97e";
}

.fh-teapot:before {
    content: "\e97f";
}

.fh-towel:before {
    content: "\e980";
}

.fh-towels2:before {
    content: "\e981";
}

.fh-washbowl:before {
    content: "\e982";
}

.fh-washbowl-1:before {
    content: "\e983";
}

.fh-water:before {
    content: "\e984";
}

.fh-wax:before {
    content: "\e985";
}

.fh-aromatherapy:before {
    content: "\e986";
}

.fh-bamboo:before {
    content: "\e987";
}

.fh-candle:before {
    content: "\e988";
}

.fh-citrus:before {
    content: "\e989";
}

.fh-cream:before {
    content: "\e98a";
}

.fh-cream-1:before {
    content: "\e98b";
}

.fh-face-mask:before {
    content: "\e98c";
}

.fh-flower:before {
    content: "\e98d";
}

.fh-herbs:before {
    content: "\e98e";
}

.fh-honey:before {
    content: "\e98f";
}

.fh-hot-stones:before {
    content: "\e990";
}

.fh-jacuzzi:before {
    content: "\e991";
}

.fh-lotion:before {
    content: "\e992";
}

.fh-mortar:before {
    content: "\e993";
}

.fh-music:before {
    content: "\e994";
}

.fh-olive-oil:before {
    content: "\e995";
}

.fh-caravan:before {
    content: "\e996";
}

.fh-cctv:before {
    content: "\e997";
}

.fh-champagne2:before {
    content: "\e998";
}

.fh-cocktail:before {
    content: "\e999";
}

.fh-coffee-cup:before {
    content: "\e99a";
}

.fh-coffee-machine:before {
    content: "\e99b";
}

.fh-comb:before {
    content: "\e99c";
}

.fh-credit-card:before {
    content: "\e99d";
}

.fh-customer-service:before {
    content: "\e99e";
}

.fh-cutlery:before {
    content: "\e99f";
}

.fh-door-hanger:before {
    content: "\e9a0";
}

.fh-door-hanger-1:before {
    content: "\e9a1";
}

.fh-door-key:before {
    content: "\e9a2";
}

.fh-door-key-1:before {
    content: "\e9a3";
}

.fh-double-bed:before {
    content: "\e9a4";
}

.fh-dumbbell:before {
    content: "\e9a5";
}

.fh-entrance:before {
    content: "\e9a6";
}

.fh-exit:before {
    content: "\e9a7";
}

.fh-exit-1:before {
    content: "\e9a8";
}

.fh-fast-food:before {
    content: "\e9a9";
}

.fh-fire-extinguisher:before {
    content: "\e9aa";
}

.fh-flip-flops:before {
    content: "\e9ab";
}

.fh-gel:before {
    content: "\e9ac";
}

.fh-golf:before {
    content: "\e9ad";
}

.fh-golf-1:before {
    content: "\e9ae";
}

.fh-golf-2:before {
    content: "\e9af";
}

.fh-golf-3:before {
    content: "\e9b0";
}

.fh-gym:before {
    content: "\e9b1";
}

.fh-hairdryer:before {
    content: "\e9b2";
}

.fh-hammock:before {
    content: "\e9b3";
}

.fh-hanger:before {
    content: "\e9b4";
}

.fh-hose:before {
    content: "\e9b5";
}

.fh-hotel:before {
    content: "\e9b6";
}

.fh-hotel-1:before {
    content: "\e9b7";
}

.fh-hotel-2:before {
    content: "\e9b8";
}

.fh-iron:before {
    content: "\e9b9";
}

.fh-lamp:before {
    content: "\e9ba";
}

.fh-lifesaver:before {
    content: "\e9bb";
}

.fh-lift:before {
    content: "\e9bc";
}

.fh-lift-1:before {
    content: "\e9bd";
}

.fh-location:before {
    content: "\e9be";
}

.fh-map:before {
    content: "\e9bf";
}

.fh-microwave:before {
    content: "\e9c0";
}

.fh-minibar:before {
    content: "\e9c1";
}

.fh-no-smoking:before {
    content: "\e9c2";
}

.fh-open:before {
    content: "\e9c3";
}

.fh-oxygen-tank:before {
    content: "\e9c4";
}

.fh-parking:before {
    content: "\e9c5";
}

.fh-reception:before {
    content: "\e9c6";
}

.fh-rent-a-car:before {
    content: "\e9c7";
}

.fh-restaurant:before {
    content: "\e9c8";
}

.fh-restaurant-1:before {
    content: "\e9c9";
}

.fh-room:before {
    content: "\e9ca";
}

.fh-room-key:before {
    content: "\e9cb";
}

.fh-room-service:before {
    content: "\e9cc";
}

.fh-room-service-1:before {
    content: "\e9cd";
}

.fh-safebox:before {
    content: "\e9ce";
}

.fh-safebox-1:before {
    content: "\e9cf";
}

.fh-shopping-bag:before {
    content: "\e9d0";
}

.fh-shower2:before {
    content: "\e9d1";
}

.fh-shower-1:before {
    content: "\e9d2";
}

.fh-soda:before {
    content: "\e9d3";
}

.fh-soup:before {
    content: "\e9d4";
}

.fh-stairs:before {
    content: "\e9d5";
}

.fh-stairs-1:before {
    content: "\e9d6";
}

.fh-suitcase2:before {
    content: "\e9d7";
}

.fh-swimming-pool:before {
    content: "\e9d8";
}

.fh-swimming-pool-1:before {
    content: "\e9d9";
}

.fh-taxi:before {
    content: "\e9da";
}

.fh-telephone:before {
    content: "\e9db";
}

.fh-television:before {
    content: "\e9dc";
}

.fh-television-1:before {
    content: "\e9dd";
}

.fh-ticket:before {
    content: "\e9de";
}

.fh-ticket-1:before {
    content: "\e9df";
}

.fh-toilet-paper:before {
    content: "\e9e0";
}

.fh-toilets:before {
    content: "\e9e1";
}

.fh-toothpaste:before {
    content: "\e9e2";
}

.fh-towel2:before {
    content: "\e9e3";
}

.fh-towels:before {
    content: "\e9e4";
}

.fh-trolley:before {
    content: "\e9e5";
}

.fh-trolley-1:before {
    content: "\e9e6";
}

.fh-waiter:before {
    content: "\e9e7";
}

.fh-washing-machine:before {
    content: "\e9e8";
}

.fh-whiskey:before {
    content: "\e9e9";
}

.fh-wifi:before {
    content: "\e9ea";
}

.fh-wine:before {
    content: "\e9eb";
}

.fh-air-conditioner:before {
    content: "\e9ec";
}

.fh-backpack:before {
    content: "\e9ed";
}

.fh-bar:before {
    content: "\e9ee";
}

.fh-bath:before {
    content: "\e9ef";
}

.fh-bed:before {
    content: "\e9f0";
}

.fh-beds:before {
    content: "\e9f1";
}

.fh-bell:before {
    content: "\e9f2";
}

.fh-bellboy:before {
    content: "\e9f3";
}

.fh-bicycle:before {
    content: "\e9f4";
}

.fh-bin:before {
    content: "\e9f5";
}

.fh-bunk:before {
    content: "\e9f6";
}

.fh-bus:before {
    content: "\e9f7";
}

.fh-cake2:before {
    content: "\e9f8";
}

.fh-calendar2:before {
    content: "\e9f9";
}

.fh-wood-floor:before {
    content: "\e9fa";
}

.fh-door-curtains:before {
    content: "\e9fb";
}

.fh-sea-view:before {
    content: "\e9fc";
}

.fh-kid-play:before {
    content: "\e9fd";
}

.fh-ping-pong:before {
    content: "\e9fe";
}

.fh-tennis-place:before {
    content: "\e9ff";
}

.fh-fridge:before {
    content: "\ea00";
}

.fh-no-pet-allowed:before {
    content: "\ea01";
}

.fh-iconboxung-11:before {
    content: "\ea02";
}

.fh-room-size:before {
    content: "\ea03";
}

.fh-newspapers:before {
    content: "\ea04";
}

.fh-airport-pick-up:before {
    content: "\ea05";
}

.fh-kitchenette:before {
    content: "\ea06";
}

.fh-golf-place:before {
    content: "\ea07";
}

.fh-uniEA08:before {
    content: "\ea08";
}

.fh-uniEA09:before {
    content: "\ea09";
}

.fh-uniEA0A:before {
    content: "\ea0a";
}

.fh-uniEA0B:before {
    content: "\ea0b";
}

.fh-uniEA0C:before {
    content: "\ea0c";
}

.fh-uniEA0D:before {
    content: "\ea0d";
}

.fh-uniEA0E:before {
    content: "\ea0e";
}

.fh-uniEA0F:before {
    content: "\ea0f";
}

.fh-uniEA10:before {
    content: "\ea10";
}

.fh-uniEA11:before {
    content: "\ea11";
}

.fh-uniEA12:before {
    content: "\ea12";
}

.fh-uniEA13:before {
    content: "\ea13";
}

.fh-dining-area:before {
    content: "\ea14";
}

.fh-uniEA15:before {
    content: "\ea15";
}

.fh-uniEA16:before {
    content: "\ea16";
}

.fh-uniEA17:before {
    content: "\ea17";
}

.fh-uniEA18:before {
    content: "\ea18";
}

.fh-uniEA19:before {
    content: "\ea19";
}

.fh-uniEA1A:before {
    content: "\ea1a";
}

.fh-uniEA1B:before {
    content: "\ea1b";
}

.fh-bedroom:before {
    content: "\ea1c";
}

.fh-guest:before {
    content: "\ea1d";
}

.fh-email:before {
    content: "\ea1e";
}

.fh-balcony:before {
    content: "\ea1f";
}

.fh-umbrella:before {
    content: "\ea20";
}

.fh-close:before {
    content: "\ea21";
}

.fh-full:before {
    content: "\ea22";
}

.fh-book:before {
    content: "\ea23";
}
