@media only screen and(min-width: 960px) {
  .mobile-menu {
    display: none;
  }

  .booking-mobile {
    display: none;
  }
}

@media only screen and (max-width: 959px) {

  .booking {
    display: none;
  }

  .header {


    .container {
      .row {
        padding-bottom: 1.5rem !important;

        #nav {
          display: none;
        }
      }
    }
  }

  .container-fluid {
    .slider .slick-slide {
      height: 500px !important;

      .carousel {
        height: 500px;
      }
    }
  }


}
